@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200&family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Tajawal&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import './global.scss';

#setaUp{
  animation: pulando 1s ease-out alternate infinite;
  margin-top: -13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-info{
  @media only screen  and (max-width: 600px){
    top: 15%;
  }
  position: absolute;
   top: 30%;
   left: 7%;

   h1{
    @media only screen  and (max-width: 600px){
      font-size: 2rem;
    }
     font-size: 4rem;
     color: azure;
     font-family: $font-title;
     font-weight: 300;
   }
  @include button-gradient
  }

.bg-modal{
width:100%;
height: 100%;
background: rgba(2, 2, 2, 0.897);
position: fixed;
z-index:2;
left: -100%;
display: block;
transition: 150ms;

.modal{
  @media only screen  and (max-width: 600px){
    width: 90%;
  }
padding: 10px;
margin: 40px auto 0 auto;
width: 50%;
height: 32rem;
background:#fff;
border-radius:15px;


.close{
  float: right;
  font-size: 26px;
  margin: 10px;
  color:$purple;
  transition: 350ms;
  cursor: pointer;
}}};
.close:hover{
  color: #9000b4;
  transition: 350ms;
}
.title-modal{

  h3{
    color: $purple;
  }

}
  .tasks-modal{
    height: 90%;
    width: 100%;

    .services{
      align-items: center;
      justify-content: left;
      display: flex;
      padding: 10px;
      height: 50px;
      border-radius: 5px;
      background: rgb(221, 221, 221);

      h3{
        color: $purple;
      }

      fieldset{
        width: 50%;
      }
    }

    .design{
      align-items: center;
      justify-content: space-around;
      display: flex;
      padding: 10px;
      height: 50px;
      border-radius: 5px;
      background: rgb(221, 221, 221);
      h3{
        color: $purple;
      }
      fieldset{
        width: 58%;;
        display: flex;
        border-radius: 5px;
        border: 1px #6303bd solid;
      }
      input{
        border: 1px #6303bd solid;
        height: 25px;
        width: 16%;
      }
    }

    .prazo{
      align-items: center;
      justify-content:left;
      display: flex;
      height: 50px;
      padding: 10px;
      border-radius: 5px;
      background: rgb(221, 221, 221);
      h3{
        color: $purple;

      }
      fieldset{
        width: 59%;
        justify-content: left;
        display: flex;
      }
    }

    .name-email{
      align-items: center;
      justify-content: center;
      display: flex;
      height: 50px;

      input{
        border-radius: 7px;
        border: 1px #6303bd solid;
        width: 85%;
        font-size: 19px;
        padding: 10px;
        height: 30px;
        justify-content: left;
        display: flex;
      }
    }
    .btn{
      align-items: center;
      justify-content: center;
      display: flex;
      height: 50px;
      margin-top: 5%;
    @include button-orange-secondary()}

  }

  


  input[type="text"]{
    height: 20px;
    margin: -2px;
    margin-left: 2px;;
    border-radius: 2px;border: none;

  }

   input[type="checkbox"]{
     height: 20px;
     width: 30px;

   }

.full-banner{
  @media only screen  and (max-width: 600px){
    height: 55vh;
    background: $purple;
 img{
   display: none;
 }
  }
width:100%;
flex-wrap: wrap;

img{
width:100%;

}} 

.container-servicos {
  flex-wrap: wrap;
  margin-top: 10%;
  margin-left: 5%;

  @include button-purple-primary();   
 
}
#ver-mais{
  font-family: arial;
  font-size: 17px;
  height: 30px;
  color: #6303bd;
  background:none;
  border: none;
  display: inline-flex;
  justify-content: center;
  padding: 20px;
align-items: center;
}

.container-servicos {
  text-align: center;
  justify-content: center;
 
  @include title-header();
  @include container-grid()

}


.card-servico {
  box-shadow: $box-shadow-gray;
  margin-top: 10%;
  padding: 18px;
  width: 340px;
  margin: 15px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  transition: all 0.3s;

  img{
    justify-content: center;
    display: flex;
    border-radius: 7px;
    margin-top: 1rem;
    margin: -0.1rem;
}

p{
    padding: 15px;
    text-align: left;
}

@include button-purple-primary()
}

.card-servico:hover{
  transition: all 0.5s;
  bottom: 10%;
  margin-top: -1%; 
}


.container-about{
margin-top: 5%;
@include button-purple-secondary();
@include title-header()

}

.about{
  padding: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background: rgb(238, 238, 238);

  img{
    @media only screen  and (max-width: 600px){
      width: 100%;
      height: 100%;
      padding: 10px;
    }
  }
  
  .about-right{
       margin-left: 3%;
       width: 550px;

       p,h1{
        text-align: left;
       }
  }
}

.container-projetos {
  @media only screen  and (max-width: 600px){
 background-size:250%;
 background-attachment: fixed;
  }
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  padding: 10rem;
  background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment:fixed;
  background-size: 100%;
  background-repeat:no-repeat;

  h1{
    color: #f1f1f1;
  }

  @include title-header();
  @include container-grid()

}



.card-projetos {
  background-image: url("https://www.muralswallpaper.com/app/uploads/purple-bright-gradient-wallpaper-mural-Plain-820x532.jpg");
  background-repeat: no-repeat;
  background-size: 600px;
  width: 330px;
  margin: 5px;
;
}

.card-projetos:hover {
  opacity: 0.9;
  transition: 0.5s;
}

.card-info {
  visibility: hidden;
  margin-top: 50%;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s;
  text-align: center;
}

.card-projetos:hover .card-info {
  visibility: visible;
  opacity: 1;
  margin-top: 45%;
  transition: all 0.5s;
  text-align: center;
  
}
.card-info h3, p{
 text-align: center;
 margin: 6px;
}


fieldset, #select-contato, textarea{
  border: none;
  padding: 10px;
  width: 90%;
}

.container-contato{
  @media only screen  and (max-width: 600px){
    width: 100%;
    height: 150vh;
  }

  position: relative;
  float: left;
  height: 50rem;
  background:$purple;
  padding: 1px;
  width: 49.8%;
  @include button-orange-secondary()
}

.card-contato{
  @media only screen  and (max-width: 600px){
    margin-left: 1rem;
    width: 76%;

  }

  margin-left:6rem;
  width:66%;
  margin-top:5%;
  background: #fafafa;
  border-radius: 10px;
  padding: 25px;
  flex-wrap: wrap;
 
}


.container-map{
  @media only screen  and (max-width: 600px){
    width: 100%;
  }

  float: right;
  width: 50%;
  height: 70vh;
}

#area-input input {
  width: 100%;
  height: 1.2rem;
  padding: 15px;
  background-color:#ffffff;
  margin: 1px;
  border-radius: 5px;
  border: #e2e2e2 1px solid;
  font-family: $font;
  color: #6303bd;
font-size: 17px;}


#select-contato {
  font-size: 20px;
  font-family: $font;
  background: #7204a5 linear-gradient(to right, #6d03d1, #c804e2);
  color: white;
  padding: 5px;
  width: 108%;
  height: 48px;
  margin: 1px;
  border-radius: 5px;
  cursor: pointer;
 }

textarea {
  @media only screen  and (max-width: 600px){
    max-width:250px;
  }

  font-size: 1.2rem;;
  position: static;
  background-color: #ffffff;
  font-family: $font;
  max-height: 300px;
  max-width:350px;
  height: 100px;
  width: 120%;
  padding:10px;
  border-radius: 5px;}


/*# sourceMappingURL=style.css.map */
